<% layout("/layouts/boilerplate") %>
<div class="row mt-3">
  <div class="col-8 offset-2">
    <h2>Create a new listings</h2>
    <form
      action="/listings"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label">Enter Title</label>
        <input
          type="text"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Enter description</label>
        <textarea
          name="listing[description]"
          placeholder="Enter description"
          class="form-control"
          rows="10"
          required
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div class="mb-3">
        <label for="category" class="form-label">Select category</label>
        <select
          name="listing[category]"
          id="category"
          class="form-select"
          required
        >
          <option value="">Select a category</option>
          <option value="Rooms">Rooms</option>
          <option value="Mountains">Mountains</option>
          <option value="Iconic Cities">Iconic Cities</option>
          <option value="Castles">Castles</option>
          <option value="Amazing Pools">Amazing Pools</option>
          <option value="Camping">Camping</option>
          <option value="Farms">Farms</option>
          <option value="Arctic">Arctic</option>
          <option value="Beach">Beach</option>
          <option value="Urban">Urban</option>
        </select>
      </div>

      <div class="mb-3">
        <label for="image" class="form-label">Upload image</label>
        <input
          type="file"
          name="listing[image]"
          class="form-control"
          required
        />
      </div>

      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input
            name="listing[price]"
            placeholder="1200"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Price should be valid.</div>
        </div>
        <div class="mb-3 col-md-8">
          <label for="location" class="form-label">Enter location</label>
          <input
            type="text"
            name="listing[location]"
            placeholder="Ernakulam, Kerala"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Location should be valid.</div>
        </div>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Enter country</label>
        <input
          type="text"
          name="listing[country]"
          placeholder="India"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country should be valid.</div>
      </div>
      <button class="btn btn-dark edit-btn mt-3">Add</button>
      <br /><br />
    </form>
  </div>
</div>
